<footer class="site-footer border-top bg-white">
  <div class="container py-4">
    <div class="row align-items-center gy-3">
      <div class="col-12 col-lg-9 order-1 order-lg-1">
        <div class="footer-left">
          <p class="footer-copy small mb-2 mb-lg-2">
            Lorem Ipsum is simply dummy text of the printing and
            <strong>typesetting</strong> industry.
          </p>

          <ul class="footer-links list-inline mb-0">
            <li class="list-inline-item">
              <a href="#" class="footer-link">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="footer-link">Terms of Use</a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="footer-link">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="footer-link">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>

      <div
        class="col-12 col-lg-3 order-2 order-lg-2 d-flex justify-content-start justify-content-lg-end"
      >
        <a class="footer-brand d-inline-flex align-items-center">
          <img
            src="/assets/img/LOGO-PRIVALIA.png"
            alt="privalia"
            class="footer-logo"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
